<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://movieguess.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>movieguess.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MovieGuess</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MovieGuess</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DBModel" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:movieguess.database.windows.net,1433;Initial Catalog=MovieGuess_db;User ID=Olle@movieguess;Password=MQZtR9rWEnCz96S3pTuC96DS" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MovieGuess.Models.DBModel, MovieGuess" MigrationConfiguration="MovieGuess.Migrations.Configuration, MovieGuess" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DBModel-Web.config Connection String">
      <ParameterValue>Data Source=tcp:movieguess.database.windows.net,1433;Initial Catalog=MovieGuess_db;User ID=Olle@movieguess;Password=MQZtR9rWEnCz96S3pTuC96DS</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>